<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Projet - Optimisation - Appliquée </title>
    <style> {%include "navBarCss.html"%}</style>
  </head>
  <body class="bg-image">
    {%include "navBar.html"%}

    <!-- LE CONTENU DE CHAQUE PAGE -->
    <div class="myContainer mt-3 mb-3">
        <h1>Welcome To Our Optimisation Service Page</h1>
        <hr />
        <h3>Informations about authors</h3>
        <p style="font-weight: bold;">Degree : Master 2 in Computer Science at the Faculty of Sciences of Angers</p>

        <div>
            <p class="contactNom">TOURE Boubacar : </p>
            <ul>
                <li>LinkedIn : <label class="contact">https://www.linkedin.com/in/boubacar-toure-universite-angers/</label> </li>
                <li>Email : <label class="contact">boubacartoure123@gmail.com</label> </li>
            </ul>
        </div>
        <div>
            <p class="contactNom">SYLLA Mohamed : </p>
            <ul>
                <li>LinkedIn : <label class="contact">https://www.linkedin.com/xxx/</label> </li>
                <li>Email : <label class="contact">xxx@gmail.com"</label> </li>
            </ul>
        </div>
        <div>
            <p class="contactNom">BARRO Juliette : </p>
            <ul>
                <li>LinkedIn : <label class="contact">https://www.linkedin.com/xxx/</label> </li>
                <li>Email : <label class="contact">xxx@gmail.com"</label> </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>