<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Optimization - Project</title>
    <style> {%include "navBarCss.html"%}</style>
  </head>
  <body class="bg-image">
    {%include "navBar.html"%}

    <!-- LE CONTENU DE CHAQUE PAGE -->
    <div class="myContainer mt-3 mb-3">
        <h1>Welcome To Our Optimisation Service Page</h1>
        <hr />
        <h3>Informations about authors</h3>
        <p style="font-weight: bold;">Degree : Master 2 in Computer Science at the Faculty of Sciences of Angers</p>

        <table class="table table-dark table-striped">
            <tr>
                <td>
                    <p class="contactNom">TOURE Boubacar : </p>
                </td>
                <td>
                    <ul>
                        <li>LinkedIn : <a href="https://www.linkedin.com/in/boubacar-toure-universite-angers/"><label class="contact">https://www.linkedin.com/in/boubacar-toure-universite-angers/</label></a></li>
                        <li>Email : <a href="mailto:boubacartoure123@gmail.com"><label class="contact">boubacartoure123@gmail.com</label></a></li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="contactNom">SYLLA Mohamed : </p>
                </td>
                <td>
                    <ul>
                        <li>LinkedIn : <a href="https://www.linkedin.com/in/mohamed-sylla-univ-angers/"><label class="contact">https://www.linkedin.com/in/mohamed-sylla-univ-angers/</label></a></li>
                        <li>Email : <a href="mailto:momisylla@gmail.com"><label class="contact">momisylla@gmail.com</label></a></li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>
                    <p class="contactNom">BARRO Juliette : </p>
                </td>

                <td>
                    <ul>
                        <li>LinkedIn : <a href="https://www.linkedin.com/in/juliette-barro/"><label class="contact">https://www.linkedin.com/in/juliette-barro/</label></a></li>
                        <li>Email : <a href="mailto:barro.juliette@gmail.com"><label class="contact">barro.juliette@gmail.com</label></a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

    {%include "footer.html"%}
  </body>
</html>