<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Optimisation</title>
  </head>
  <body>
    <div class="container">
        <form action="duo" method="POST">
            {% csrf_token %}
            {{form.as_ul}}
            <h2>Table des musiciens</h2>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="table-primary">Nom</th>
                    <th scope="col" class="table-primary">Nb heure hebdo</th>
                    <th scope="col" class="table-primary">Niv.</th>
                    <th scope="col" class="table-primary">Instru.</th>
                    <th scope="col" class="table-primary">ville</th>
                    <th scope="col" class="table-primary">Styles</th>
                    <th scope="col" class="table-primary">Nb heure Min</th>
                    <th scope="col" class="table-primary">Nb heure Max</th>
                    <th scope="col" class="table-primary">Niv min</th>
                    <th scope="col" class="table-primary">Niv max</th>
                    <th scope="col" class="table-primary">Niv styles min</th>
                  </tr>
                </thead>
                <tbody>
                {% if musiciens %}
                {% for musicien in musiciens %}
                  <tr>
                    <th scope="row">{{ musicien.name }}</th>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name |add:'-heureHebdo' }}" name="{{ musicien.name |add:'-heureHebdo' }}" min="{{ musicien.heureMin }}" max="{{ musicien.heureMax }}" value="{{ musicien.heureHebdo }}" />
                    </td>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name  |add:'-niveau' }}" name="{{ musicien.name  |add:'-niveau' }}" min="{{ musicien.nivMin }}" max="{{ musicien.nivMax }}" value="{{ musicien.niveau }}" />
                    </td>
                    <td scope="row">
                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name | add:'-instru' }}" name="{{ musicien.name | add:'-instru' }}">
                            <option value="" selected></option>
                            <option value="Guitare">Guitare</option>
                            <option value="Batterie">Batterie</option>
                            <option value="Violon">Violon</option>
                            <option value="Violon">Piano</option>
                            <option value="Violon">Basse</option>
                        </select>
                    </td>
                    <td scope="row">
                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name  |add:'-ville' }}" name="{{ musicien.name  |add:'-ville' }}" value="{{ musicien.ville }}">
                            <option value="{{ musicien.ville }}" selected></option>
                            {% if musicien.ville="Angers"%}
                            <option value="Angers">Angers</option>
                            <option value="Nantes">Nantes</option>
                        </select>
                    </td>
                    <td scope="row">
                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name  |add:'-style1' }}" name="{{ musicien.name  |add:'-style1' }}" >
                            <option value="" selected></option>
                            <option value="Rock">Rock</option>
                            <option value="Metal">Metal</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Pop">Pop</option>
                            <option value="Classique">Classique</option>
                            <option value="Funk">Funk</option>
                            <option value="RnB">RnB</option>
                            <option value="Rap">Rap</option>
                            <option value="Punk">Punk</option>
                            <option value="Electro">Electro</option>
                        </select>

                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name  |add:'-style2' }}" name="{{ musicien.name  |add:'-style2' }}" >
                            <option value="" selected></option>
                            <option value="Rock">Rock</option>
                            <option value="Metal">Metal</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Pop">Pop</option>
                            <option value="Classique">Classique</option>
                            <option value="Funk">Funk</option>
                            <option value="RnB">RnB</option>
                            <option value="Rap">Rap</option>
                            <option value="Punk">Punk</option>
                            <option value="Electro">Electro</option>
                        </select>

                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name  |add:'-style3' }}" name="{{ musicien.name  |add:'-style3' }}" >
                            <option value="" selected></option>
                            <option value="Rock">Rock</option>
                            <option value="Metal">Metal</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Pop">Pop</option>
                            <option value="Classique">Classique</option>
                            <option value="Funk">Funk</option>
                            <option value="RnB">RnB</option>
                            <option Classique="Rap">Rap</option>
                            <option Classique="Punk">Punk</option>
                            <option Classique="Electro">Electro</option>
                        </select>

                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name  |add:'-style4' }}" name="{{ musicien.name  |add:'-style4' }}" >
                            <option value="" selected></option>
                            <option value="Rock">Rock</option>
                            <option value="Metal">Metal</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Pop">Pop</option>
                            <option value="Classique">Classique</option>
                            <option value="Funk">Funk</option>
                            <option value="RnB">RnB</option>
                            <option value="Rap">Rap</option>
                            <option value="Punk">Punk</option>
                            <option value="Electro">Electro</option>
                        </select>

                        <select class="form-select" aria-label="Default select example" id="{{ musicien.name  |add:'-style5' }}" name="{{ musicien.name  |add:'-style5' }}" >
                            <option value="" selected></option>
                            <option value="Rock">Rock</option>
                            <option value="Metal">Metal</option>
                            <option value="Jazz">Jazz</option>
                            <option value="Pop">Pop</option>
                            <option value="Classique">Classique</option>
                            <option value="Funk">Funk</option>
                            <option value="RnB">RnB</option>
                            <option value="Rap">Rap</option>
                            <option value="Punk">Punk</option>
                            <option value="Electro">Electro</option>
                        </select>
                    </td>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name  |add:'-heureMin' }}" name="{{ musicien.name  |add:'-heureMin' }}" min="1" max="3" value="{{ musicien.heureMin }}" />
                    </td>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name  |add:'-heureMax' }}" name="{{ musicien.name  |add:'-heureMax' }}" min="2" max="6" value="{{ musicien.heureMax }}" />
                    </td>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name  |add:'-nivMin' }}" name="{{ musicien.name  |add:'-nivMin' }}" min="1" max="5" value="{{ musicien.nivMin }}" />
                    </td>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name  |add:'-nivMax' }}" name="{{ musicien.name  |add:'-nivMax' }}" min="2" max="5" value="{{ musicien.nivMax }}" />
                    </td>
                    <td scope="row">
                        <input type="number" id="{{ musicien.name  |add:'-styleMin' }}" name="{{ musicien.name  |add:'-styleMin' }}" value="{{ musicien.styleMin }}" />
                    </td>
                  </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>

            <button class="btn btn-outline-primary" type="submit">cliquer ici pour voir les duos formés</button>

            {% if propositionDuo %}
            <h3>Duos formés</h3>
            <pre>{{propositionDuo}}</pre>
            {% endif %}
        </form>
    </div>
  </body>
</html>