<div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="nav-item navBarList"><a id="len1" class="nav-link hoverable" href="#">Home</a></li>
        <li class="nav-item navBarList"><a id="len2" class="nav-link hoverable" href="#">About</a></li>
        <li class="nav-item navBarList"><a id="len3" class="nav-link hoverable" href="#">Portfolio</a></li>
        <li class="nav-item navBarList"><a id="len4" class="nav-link hoverable" href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div id="what-the-hell-is-this">
    <div class="page-title">
      <h2>Projet : Optimisation Appliquée</h2>
    </div>
  </div>
</div>